USE [master]
GO
/****** Object:  Database [PerpusNB]    Script Date: 18/06/2025 06:10:25 ******/
CREATE DATABASE [PerpusNB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PerpusNB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PerpusNB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PerpusNB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PerpusNB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PerpusNB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PerpusNB]
GO
/****** Object:  User [perpususer]    Script Date: 18/06/2025 06:10:25 ******/
CREATE USER [perpususer] FOR LOGIN [perpususer] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [perpususer]
GO
/****** Object:  Table [dbo].[buku]    Script Date: 18/06/2025 06:10:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buku](
	[id] [int] NOT NULL,
	[judul] [varchar](255) NOT NULL,
	[penulis] [varchar](255) NOT NULL,
	[stok] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[peminjaman]    Script Date: 18/06/2025 06:10:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[peminjaman](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[buku_id] [int] NULL,
	[tanggal_pinjam] [date] NOT NULL,
	[tanggal_kembali] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pengguna]    Script Date: 18/06/2025 06:10:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pengguna](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama] [varchar](100) NOT NULL,
	[nim] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[peminjaman]  WITH CHECK ADD FOREIGN KEY([buku_id])
REFERENCES [dbo].[buku] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[peminjaman]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[pengguna] ([id])
ON DELETE SET NULL
GO
USE [master]
GO
